<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<linkhead>
	<meta charset="ISO-8859-1">
  <title>Add Patients</title>
  <link>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous">
  </link>
  
</head>
<body style="background-color: beige;">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
	 
    <a class="navbar-brand" href="#">Patient Records</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home1">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
       
      </ul>
      
    </div>
  </div>
</nav>


<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">Patient Information</h3>
					
					
					<div class="card-body">
    <div th:if="${session.msg}">
        <h5 class="text-center text-success" th:text="${session.msg}"></h5>
        <div id="successMsg" th:if="${session.msg}" class="text-center text-success">


        </div>


    </div>
</div>

						<form th:action="@{/save_patient}" method="post">
							<div class="mb-4">
								<label for="patientID" class="form-label">Patient ID</label>
								<input type="text" class="form-control" id="patientID" placeholder="Enter Patient ID" name="p_id">
							</div>
							<div class="mb-4">
								<label for="patientName" class="form-label">Patient Name</label>
								<input type="text" class="form-control" id="patientName" placeholder="Enter Patient Name" name="p_name">
							</div>
							<div class="mb-4">
								<label for="patientNumber" class="form-label">Patient Number</label>
								<input type="text" class="form-control" id="patientNumber" placeholder="Enter Patient Number" name="p_number">
							</div>
							<div class="mb-4">
								<label for="patientEmail" class="form-label">Patient Email</label>
								<input type="email" class="form-control" id="patientEmail" placeholder="Enter Patient Email" name="p_email">
							</div>
							<div class="mb-4">
								<label for="patientGender" class="form-label">Patient Gender</label>
								<input type="text" class="form-control" id="patientGender" placeholder="Enter Patient Gender" name="p_gender">
							</div>
							<div class="mb-4">
								<label for="patientDOB" class="form-label">Date of Birth</label>
								<input type="date" class="form-control" id="patientDOB" name="p_dob">
							</div>
							<div class="mb-4">
								<label for="patientAddress" class="form-label">Address</label>
								<textarea class="form-control" id="patientAddress" rows="3" placeholder="Enter Patient Address" name="p_address"></textarea>
							</div>
							<div class="mb-4">
								<label for="patientAge" class="form-label">Age</label>
								<input type="number" class="form-control" id="patientAge" placeholder="Enter Patient Age" name="p_age">
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
	crossorigin="anonymous"></script>
  
  
</body>
</html>
