<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Search Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Create Appointment</h1>
        
        <form th:action="@{/save_appointment}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address"><br>

            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone"><br>

            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob"><br>

            <input type="submit" value="Submit">
        </form>
    </main>
</body>
</html>
