<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Record Details</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Record Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="home1">Home</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="container text-center">
  <div class="row justify-content-center"> <!-- Add 'justify-content-center' class to center align the row -->
    <div class="col-md-16"> <!-- Remove 'offset-md-1' class to center align the column -->
      <div class="card">
        <div class="card-header">
          <a href="load_form1" class="btn btn-primary">Add Records</a>
        </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Patient Id</th>
            <th scope="col">Date</th>
            <th scope="col">Diagnosis</th>
            <th scope="col">Treatment</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Admission Date</th>
            <th scope="col">Discharge Date</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="r:${record}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.p_id}"></td>
            <td th:text="${r.date}"></td>
            <td th:text="${r.diagnosis}"></td>
            <td th:text="${r.treatment}"></td>
            <td th:text="${r.doc_name}"></td>
            <td th:text="${r.admission}"></td>
            <td th:text="${r.discharge}"></td>
            <td><a th:href="@{/edit_form1/{id}(id=${r.id})}" class="btn btn-secondary btn-sm">Edit</a>

            <a th:href="@{/delete_form1/{id}(id=${r.id})}" class="btn btn-primary btn-sm">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
    </div>
    

    </body>
</html>